.site-nav {
  float: right;
  margin-top: 29px;

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}

ul.pure-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.pure-menu-list li {
  display: inline-block;
  vertical-align: middle;
}

ul.pure-menu-list li a {
  display: block;
  color: $brand-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
